body {
    font-family: Inika;
    font-weight: 700;
}
.header {
    font-family: "M PLUS 1";
    font-weight: 400;
    color: #3E45E8;
    font-size: 48px;
    text-align: center;
    padding: 25px 0;
    max-height: 110px;
    min-height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    }
.header-ukr {
    color: #E8C23E;
}
.banner {
    background-image: url("../img/image\ 1.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 206px;
    }
.blue {
    background-repeat: no-repeat;
    height: 136px;
    background-image: url(../img/Rectangle\ 1.png);
    }
.yellow {
    background-image: url(../img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    height: 136px;
    }
.content {
    color: #FFFFFF;
    font-size: 48px;
    width: 90%;
    margin-left: 38px;
    box-sizing: border-box;
    }
.place {
    font-size: 40px;
    color: black;
    padding-top: 72px;
    padding-left: 80px;
    box-sizing: border-box;
}
.line {
    border-bottom: solid 5px #3E45E8;
    width: 402px;
    padding-top: 20px;
    margin-left: 80px;
    box-sizing: border-box;
}
.place-navigate {
    padding: 33px 80px;
    box-sizing: border-box;
}
.card {
    display: inline-block;
    text-align: left;
    min-height: 481px;
    width: 30%; 
    vertical-align: top;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    }
.card-second {
    margin: 0 40px;
    box-sizing: border-box;
    }
.card-img {
    width: 100%;
}
.card-title {
    font-size: 24px;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}
.card-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}
.victory {
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
}
.line2 {
   margin: 0 35%;
}
.ukraine-img {
    padding: 40px 0;
    display: block;
    margin: auto;
}
.donate {
    font-size: 64px;
    text-align: center;
    background-color: #2A61F0;
    color: white;
    margin: 0 30%;
    box-sizing: border-box;
}
.footer {
    background-color: #2F4A4B;
    margin-top: 20px;
    box-sizing: border-box;
}
.contacts {
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.icon {
    text-align: center;
}