body {
    margin: 0%;
    font-family: 'PT Sans';
}

.body {
    background-color: #E5E5E5;
}

.navigate {
    background-color: #202846;
    height: 90px;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.background {
    background-image: url(../img/photo_2021-09-21_13-25-38\ 2.png), url(../img/Group\ 17.png);
    background-repeat: no-repeat;
    height: 90px;
    background-position: 4% center, 95% center;
    align-items: stretch;
}

ul {
    list-style: none;
    margin: 0;
    padding-top: 0.5%;
    padding-left: 20%;
    box-sizing: border-box;
    display: flex;
}
p {
    vertical-align: middle;
}
li {
    border-right: solid 2px white;
    padding: 0 2%;
    box-sizing: border-box;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
.grey {
    background-color: #C6C6DC;
    height: 140px;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    padding: 2% 10%;
    box-sizing: border-box;
}

.city {
    background-color: #E8E8E8;
    margin: 2% 5%;
    height: 73px;
    box-sizing: border-box;
}

select {
    border: none;
    background-color: #E8E8E8;
    font-weight: 400;
    font-size: 28px;
    font-family: 'PT Sans';
    appearance: none;
    width: 100%;
    background-image: url(../img/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-position: 99% 100%;
    padding-top: 1%;
    box-sizing: border-box;
    text-align: center;
}

option {
    font-weight: 400;
}

.cards {
    background-color: #BDBDC6;
    box-sizing: border-box;
    margin: 2% 5%;
    height: 300px;
    position: relative;
    }
.mesto {
    display: flex;
}
.text {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1.5vw;
}

.stars {
    position: absolute;
    right: 1%;
    top: 3%;
}
.cards:hover svg {
    fill: yellow;
}
.place {
    font-weight: 700;
    font-size: 47px;
    font-style: italic;
    color: #353C57;
    box-sizing: border-box;
    border-bottom: solid 3px white;
}

.photo {
    margin-left: 3vw;
    margin-top: 2vw;
}

.discription {
    font-weight: 400;
    font-size: 22px;
    margin-top: 1vw;
    height: 65%;
    background-color: #D7D7DD;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
    padding: 2%;
}

.details {
    font-weight: 400;
    font-size: 24px;
    color: white;
    background-color: #202846;
    height: 19%;
    width: 12%;
    text-align: center;
    border-radius: 26px;
    padding-top: 0.5%;
    box-sizing: border-box;
    position: absolute;
    left: 90%;
    top: 78%;
}

.footer {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    background-color: #202846;
    color: white;
    height: 90px;
    padding-top: 1%;
    padding-left: 5%;
    box-sizing: border-box;
}
.up {
    position: fixed;
    right: 1vw;
    bottom: 15vw;

}