.body {
    background-color: rgb(195, 186, 186);
    margin: 0;
}
.flag {
    background-image: url(../img/Blue.png);
    background-repeat: no-repeat;
    background-color: rgb(249, 216, 0);
    height: 540px;
    width: 512px;
    display: inline-block;
    overflow: hidden;
    margin: 20px;   
}
.wave {
    background-image: url(../img/Glyph.png);
    background-repeat: no-repeat;
    height: 227.36px;
    margin-top: 28%;
    margin-left: 10%;
}
.white {
    background-color: white;
    height: 540px;
    width: 512px;
    display: inline-block;
    overflow: hidden;
    margin: 20px;  
}
.flag2 {
    border-radius: 100%;
    height: 88%;
    width: 93%;
    padding: 34px;
    box-sizing: border-box;
}
.wave2 {
    background-size: contain;
    height: 50%;
    margin-top: 55%;
    margin-left: 7%;
}
.romb {
    background-image: url(../img/Group.png);
    background-repeat: no-repeat;
    height: 393px;
    margin-top: 12%;
}
.romb2 {
    background-size: contain;
    height: 320px;
    margin-top: 12%;
    margin-left: 15%;
}
.plane {
    background-image: url(../img/Plane.png);
    background-repeat: no-repeat;
    height: 386px;
    margin-top: 30%;
    margin-left: 34%;
}
.plane2 {
    background-size: contain;
    height: 320px;
    margin-top: 12%;
    margin-left: 17%;
}
.diya {
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    height: 182px;
    margin-top: 30%;
    margin-left: 19%;
}
.diya2 {
    background-size: contain;
    margin-left: 12%;
}
.diya3 {
    margin-top: 13%;
}
.black {
    background-color: black;
    height: 540px;
    width: 512px;
    display: inline-block;
    overflow: hidden;
    margin: 20px;  
}
.flag_icon {
    background-image: url(../img/Flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    margin-top: 5%;
    margin-left: 44%;
}
.flag_icon2 {
    margin-left: 5%;
}
.flag_icon3 {
    margin-left: 80%;
    }
