:root {
    font-size: 36px;
}

.page {
    position: relative;
    margin: 0;
    font-family: Rosario;
    font-weight: 700;

}

.nav {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    text-transform: capitalize;
}

.logo {
    background-color: white;
    height: 100%;
}

img {
    width: 100%;
}

.menu {
    width: 80%;
    margin-right: 2vw;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    padding-left: 5%;
}

li a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.container {
    padding-top: 10%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.gallery {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;

}

.services {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.center_img {
    padding: 0px 4%;
    box-sizing: border-box;
}

.row,
.rowform {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photogallery {
    padding: 1.5%;
    box-sizing: border-box;
}

.photogalleryhidden {
    display: none;
}

.photo {
    position: relative;
    padding-left: 1.5%;
    box-sizing: border-box;
}

.boximg1 {
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    width: 60%;
    height: 800px;
    position: relative;
}

.photogallery2 {
    position: absolute;
    left: 29%;
    top: 25%;
    width: 37%;
}

.text {
    font-size: 1.3rem;
    font-style: italic;
    color: black;
    text-align: center;
}

.header {
    font-size: 2.7rem;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
    box-sizing: border-box;
}

.team {
    padding-top: 8%;
    box-sizing: border-box;
    text-transform: capitalize;
}

.teamphoto {
    margin: 0 2%;
}

.mediarow {
    display: flex;
    justify-content: center;
}

.label {
    width: 97%;
    background: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 40px 40px;
    color: #FFFAFA;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    height: 15%;
    padding-top: 8%;
    opacity: 0;
    transition: all 1s;
}

.adress {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.form {
    padding: 0 2%;
    box-sizing: border-box;
    width: 57%;
}

.message {
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
}

.field {
    margin-top: 3%;
    height: max-content;
    background-color: #E5E5E5;
}

input,
textarea {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: Rosario;
    margin: 2%;
    border: none;
    width: 95%;
}

.message-text {
    padding-left: 2%;
    box-sizing: border-box;
    width: 96%;
}

input[placeholder=Name] {
    padding: 2%;
    box-sizing: border-box;
}

input[type=email] {
    padding: 2%;
    box-sizing: border-box;
}

footer {
    margin: 3% auto;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

footer a {
    color: black;
    text-decoration: none;
}

.title {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 5%;
    text-transform: capitalize;
}

.social img {
    width: auto;
    padding-right: 4%;
    box-sizing: border-box;
}

.smm {
    text-align: left;
}

.inst {
    padding-left: 25%;
    box-sizing: border-box;
}

.facebook,
.twitter {
    padding-left: 23%;
    box-sizing: border-box;
}

.animation1,
.rightmoove {
    animation: moove 2s linear;
}

.animation2,
.leftmoove {
    animation: mooveright 2s linear;
}

.left_img {
    animation: moove 3s linear;
}

.right_img {
    animation: mooveright 3s linear;
}

@keyframes moove {
    0% {
        transform: translateX(-100vh);
        opacity: 0;
    }

    100% {
        transform: translateX(0vh);
        opacity: 1;
    }
}


@keyframes mooveright {
    0% {
        transform: translateX(100vh);
        opacity: 0;
    }

    100% {
        transform: translateX(0vh);
        opacity: 1;
    }
}

.animationcircle {
    animation: circle1 25s linear infinite;
}

@keyframes circle1 {
    from {
        transform: rotate(0deg) translateX(100%) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(100%) rotate(-360deg);
    }
}

.animationcircle2 {
    animation: circle2 25s linear infinite;
}

@keyframes circle2 {
    from {
        transform: rotate(180deg) translateX(100%) rotate(-180deg);
    }

    to {
        transform: rotate(540deg) translateX(100%) rotate(-540deg);
    }
}

.animationcircle3 {
    animation: circle3 25s linear infinite;
}

@keyframes circle3 {
    from {
        transform: rotate(90deg) translateX(100%) rotate(-90deg);
    }

    to {
        transform: rotate(450deg) translateX(100%) rotate(-450deg);
    }
}

.animationcircle4 {
    animation: circle4 25s linear infinite;
}

@keyframes circle4 {
    from {
        transform: rotate(270deg) translateX(100%) rotate(-270deg);
    }

    to {
        transform: rotate(630deg) translateX(100%) rotate(-630deg);
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 18px;
    }

    .gallery {
        flex-direction: column;
        width: 75%;
        margin: 10% auto;
    }

    .row {
        flex-direction: column;
    }

    .left_img,
    .right_img {
        height: 380px;
        width: 88%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 40px
    }

    .left_img,
    .leftmoove {
        animation: moove 2s linear;
    }

    .right_img,
    .rightmoove {
        animation: mooveright 2s linear;
    }

    .boximg2 {
        display: none;
    }

    .boximg1 {
        width: 100%;
        height: 750px;
    }

    .photogallery2 {
        top: 35%;
        left: 33%;
        width: 35%;
    }

    .mediarow {
        display: block;
    }

    .teamphoto {
        width: 60%;
        margin: 0 auto;
    }

    .photo:active .label {
        opacity: 1;
        bottom: 0.5%;
    }

    .label {
        width: 98.5%;
        font-size: 2.5rem;
    }

    .adress {
        flex-direction: column-reverse;
        align-items: center;
    }

    .form {
        width: 85%;
        margin-top: 2%;
    }

    iframe {
        width: 580px;
        height: 500px;
    }

    .menu {
        visibility: hidden;
    }

    .hiddenmenu {
        width: 50px;
        padding: 2% 3%;
    }

    .dropdown {
        height: 80px;
        position: fixed;
        top: 1%;
        right: 0;
        width: 10%;
        z-index: 2;
    }

    .dropdown-content {
        visibility: hidden;
        position: absolute;
        right: 0%;
        top: 90%;
        background-color: rgba(0, 0, 0, 0.4);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        flex-direction: column;
        border-radius: 30px;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 0px;
        font-size: 1.3rem;
        text-decoration: none;
        display: block;
        transition: all 1s linear;
    }

    .dropdown-content a:hover {
        transform: scale(1.2);
    }

    .dropdown:active .dropdown-content {
       visibility: inherit;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        font-size: 20px;
    }

    .gallery {
        padding-top: 13%;
    }

    .services {
        flex-direction: column-reverse;
    }

    .boximg1 {
        width: 100%;
        height: 950px;
    }

    .photogallery2 {
        top: 35%;
        left: 33%;
        width: 35%;
    }

    .mediarow {
        display: block;
    }

    .row {
        align-items: flex-start;
    }

    .photo:hover .label {
        opacity: 1;
        bottom: 0.5%;
    }

    .label {
        width: 98.5%;
        font-size: 2.5rem;
        pointer-events: none;
    }

    .photo {
        padding-top: 1%;
    }

    .photolast {
        width: 102%;
    }

    .adress {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 80%;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .left_img,
    .right_img {
        display: none;
    }

    .photogalleryhidden {
        display: block;
        padding: 1.5%;
        box-sizing: border-box;
        height: 350px;
        overflow: hidden;
        border-radius: 40px;
        box-sizing: border-box;
        width: 100%;
    }

    .animation1 {
        animation: mooveright 2s linear;
    }

    .animation2 {
        animation: moove 2s linear;
    }

    .dropdown,
    .hiddenmenu {
        visibility: hidden;
    }
}

@media screen and (min-width: 993px) and (max-width: 1619px) {
    :root {
        font-size: 24px;
    }

    .message {
        font-size: 2rem;
    }

    .photo:hover .label {
        opacity: 1;
        bottom: 1.2%;
    }

    .dropdown,
    .hiddenmenu {
        visibility: hidden;
    }
}

@media screen and (min-width:1620px) {
    .services {
        padding-right: 3%;
        padding-left: 3%;
    }

    .photo:hover .label {
        opacity: 1;
        bottom: 1.2%;
    }

    .dropdown,
    .hiddenmenu {
        visibility: hidden;
    }
}