html {
    font-size: 18px;
}

body,
ul {
    margin: 0;
    padding: 0;
    background-color: #212529;
    font-family: Inter;
    cursor: url("../img/cursor.svg"), auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav {
    list-style: none;
    display: flex;
}

li.nav-item>a,
.header-btn {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item>a:hover {
    color: #FFB742;
}

.header-btn {
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
    font-weight: 700;
}

.introduce {
    display: flex;
    font-weight: 700;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    box-sizing: border-box;
}

.name {
    font-size: 1.8rem;
}

.name a {
    color: #FFB742;
}

.profi {
    text-transform: capitalize;
    font-size: 2.7rem;
    padding-top: 2%;
    box-sizing: border-box;
}

.discription {
    text-transform: capitalize;
    font-size: 1.3rem;
    padding-top: 4%;
    box-sizing: border-box;
    font-weight: 400;
}

.avatar {
    padding-top: 2%;
}

.achive {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 700;
    margin-top: 7vw;
    margin-left: 3vw;
    margin-right: 3vw;
    box-sizing: border-box;
}

.achive>div {
    background-color: #292B2E;
    height: 8vw;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2vw;
    box-sizing: border-box;
    width: 100%;
    transition: all .6s;
}

.projects {
    margin: 0 2vw;
}

.achive span {
    color: #FFB742;
    font-size: 1.8rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    box-sizing: border-box;
    line-height: 35px;
}

.sign {
    height: 4vw;
}

.achive>div:hover {
    color: black;
    background-color: #FFB742;
}

.achive div:hover span {
    color: black;
}

.achive div:hover svg {
    fill: black;
}

.main {
    display: flex;
    margin-top: 10vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.fone {
    background-image: url(../img/fone.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.fone>img {
    padding-bottom: 12%;
    box-sizing: border-box;
}

.aboutme {
    display: flex;
    flex-direction: column;
}

.frame {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    color: #FFB742;
    text-transform: uppercase;
    width: 148px;
    margin-bottom: 0.5%;
    box-sizing: border-box;
}

.frame1 {
    margin-top: 18%;
    box-sizing: border-box;
}

.h1 {
    text-transform: capitalize;
    font-family: Roboto;
    font-weight: 700;
    font-size: 2.7rem;
    color: white;
}

.aboutme div:nth-child(3) {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.8rem;
    color: #D5D5D5;
    padding-top: 3%;
    padding-bottom: 13%;
    box-sizing: border-box;
}

.btn2 {
    width: 148px;
    text-align: center;
}

.myworks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.h2 {
    margin-bottom: 2vw;
}

li.navitm2>a {
    font-size: 0.8rem;
    padding: 25px 40px;
    transition: all .4s;
}

li.navitm2>a:hover {
    background-color: #FFB742;
    color: #212529;
}

.img {
    display: inline-block;
    text-align: center;
    margin: 2vw;
    box-sizing: border-box;
}

.img img {
    padding: 1vw;
    box-sizing: border-box;
    width: 31%;
}

.footer {
    background-color: #1C1C1C;
    height: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vw;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 6%;
    box-sizing: border-box;
    color: aliceblue;
}

.table {
    width: 20%;
}

.footername {
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.8rem;
    color: #FFB742;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.footer div:nth-child(2) {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.8rem;
    color: #D4D4D4;
}

.footer ul {
    list-style: none;
    background-color:  #1C1C1C;
}

.footer li>a, .href {
    text-decoration: none;
    color: #7B7B7B;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 36px;
    transition: all .4s;
    }

.listheader {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.2rem;
    color: #F5FBF2;
    padding-bottom: 1vw;
    padding-top: 1vw;
    box-sizing: border-box;
}
.footer li>a:hover {
    color:#FFB742;
}

