html {
    font-size: 16px;
}

body {
    background-color: #E5E5E5;
    font-family:'Public Sans';
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    color: #171717; 
} 
span {
    color:red;
}
form {
    margin-left: 5%;
    margin-right: 5%;
}
.header {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 5% 5%;
    box-sizing: border-box;
}
.mandat {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 1% 5%;
    box-sizing: border-box;
}
.info {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 3%;
    margin-bottom: 3%;
    box-sizing: border-box;
}
label {
    font-weight: 500;
    display: block;
    margin-bottom: 2%;
}
.forma {
    width: 90%;
    padding: 7px;
    display: block;
    height: 3vw;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ADADAD;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 1rem;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.container div {
    width: 100%;
}
select {
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    appearance: none;
}
input[type=date]  {
    background-image: url(../img/date.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}
input::-webkit-calendar-picker-indicator {
    opacity:0;
  }
input[type=search]  {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}
.close {
    background-color: #EFEFEF;
}
.forma7 {
    color: #0050D8;
}
.check {
    margin-top: 3%;
    padding-right: 1%;
    box-sizing: border-box;
}
.checkbox {
    display: inline;
    margin-left: 1vw;
}
input[type=checkbox] {
    transform: scale(2.0);
}
.section2, .section4 {
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}
.button {
    display: flex;
    justify-content: right;
    margin-right: 4.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
input[type=button] {
background-color: #0050D8;
color: white;
border-radius: 4px;
padding: 1% 3%;
font-family: 'Public Sans';
font-weight: 700;
font-size: 1rem;
}