:root {
    font-size: 14px;
}
body {
    background-color: #FFB084;
}
.page {
    font-family:'Work Sans';
    font-weight: 400;
    margin: 5%;
    display: grid;
    grid-template-columns: 250px 189px 189px;
    grid-template-rows: 117px 101px 64px 90px;
    gap: 15px 20px;
    justify-content: center;
    
}
.page>div {
    background-color: white;
    border-radius:  20px;
    padding: 15px 25px;
}
.container1 {
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    box-shadow: 7px 7px 0px #000000;
}
.container2 {
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 7px 7px 0px #000000;
}
.container5 {
    grid-row-start: 3;
    grid-row-end: 5;
    box-shadow: 7px 7px 0px #3675B0;
}
.container4 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    box-shadow: 7px 7px 0px #E13535;
}
.container6 {
    font-weight: 700;
    box-shadow: 7px 7px 0px #000000;
    align-self: end;
}
.container3 {
    box-shadow: 7px 7px 0px #29A71E;
}
.container7 {
    box-shadow: 7px 7px 0px #000000;
}
.title {
    font-size: 1.7rem;
    font-weight: 700;
    padding-bottom: 18px;
    box-sizing: border-box;
}
.info {
    text-align: start;
    font-size: 0.9rem;
    padding-top: 3px;
    box-sizing: border-box;
}
pre {
    margin: 0;
    font-family:'Work Sans';
}
.info>div {
    padding-top: 10px;
    box-sizing: border-box;
}
.container2 div:nth-child(1), .container7 div:nth-child(1)  {
    font-weight: 700;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.container3 div {
    color: #29A71E;
    font-weight: 700;
    padding-bottom: 5px;
    box-sizing: border-box;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11%;
    padding: 0;
}
.container5 div {
    color: #3675B0;
    font-weight: 700;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.container4 div {
    color: #E13535;
    font-weight: 700;
    padding-bottom: 5px;
    box-sizing: border-box;
}
@media screen and (max-width: 680px) {
    .page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   }
   .container1 {
    grid-row-end: 1;
   }
   .container2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
   }
   .container5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
   }
   .container4  {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
   }
   .container3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
   }
}    
@media screen and (min-width:1000px) {
    :root {
        font-size: 20px;
    }
    .page {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    grid-template-rows: 1fr 0.7fr 0.4fr 0.6fr;
    }
}