:root {
    font-size: 14px;
}
body {
    background-color:#ECECEC;
    font-family: Montserrat;
    font-weight: 500;
}
.header_form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #C4C4C4;
}
.logo {
    margin-left: 15%;
}
.navbar-collapse, .navbar {
    width: 100%;
    justify-content: space-around;
}
.input {
    font-size: 1.1rem;
    background-image: url(../img/place.svg);
    background-repeat: no-repeat;
    background-position: 2%;
    padding-left: 15%;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-right: 100%;
    margin-left: -25%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #323232;
}
.button {
    display: flex;
    margin-right: 4%;
}
.header_button {
    font-weight: 700;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 13% 20%;
    border: none;
}
.enter {
    background-color: #EF781A;
}
.backet {
    background-color: #00D008; 
    margin-left: 15%;
}
.header_name {
    background-color: white;
    display: flex;
    align-items: end;
    height: 130px;
    padding-left: 16%;
    padding-bottom: 1%;
}
h1 {
    font-weight: 800;
    font-size: 2.6rem;
}
main {
    display: flex;
    position: relative;
}
.mainleft {
    margin-top: 1%;
    padding-left: 15%;
}
.nav-link {
    color: #7B7B7B;
    font-size: 0.8rem;
}
a:hover {
    color: #343434;
}
.nav-link:hover {
    background-color: #C4C4C4;
    border-radius: 10px;
}
h3 {
    font-weight: 700;
    margin: 2% 1%;
}
.cards {
    display: flex;
}
.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2%;
    border: none;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title {
    color: black;
}
.card-text {
    color: #A1A1A1;
    font-size: 0.7rem;
}
.btn-primary {
    background-color: #FF6C01;
    border-color: #FF6C01;
}
.btn {
    display: none;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}
.card:hover .btn {
    display: block;
}
.card:hover .price {
    display: none;
}
.cardfooter {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.price {
    font-size: 1.2rem;
}
.heart:hover svg{
    fill: #69A042;
}
.heart:hover path{
    stroke:#69A042;
}
.info {
    background-color: white;
    margin-left: 1%;
    padding: 4%;
}
.infotitels {
    color: #999999;
    margin-bottom: 0.5%;
}
.infodetails {
    font-size: 1.2rem;
    margin-bottom: 1.5%;
}
address {
    margin: 0;
}
.up {
    position: fixed;
    right: 10%;
    top: 80%;
}
.mainright {
    width: 500px;
    margin: 3%;
}
.order {
    background-color: white;
    padding: 5% 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.container_order {
    margin: 0 8%;
}
.order_title {
    font-size: 1.3rem;
    margin-bottom: 5%;
}
.order_products {
    margin-left: -18%;
}
.order_products li {
    font-size: 0.9rem;
    color: #979797;
}

.colculate_order, .colculate, .delivery {
    display: flex;
    justify-content: space-between;
}
.colculate {
    width: 30%;
}
.colculate_btn {
    background-color:  #FF6C01;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    color: white;
    border:none;
    font-size: 1.3rem;
    font-weight: 700;
}
.colculate div {
    font-size: 1.3rem;
    padding: 1% 7%;
}
.delivery {
    margin-bottom: 5%;
}
button.order {
    width: 100%;
    color: white;
    background: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: left;
    border: none;
}
button.order span {
    padding-left: 62%;
}
.hidden_order {
    display: none;
}
footer {
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
    margin-top: 30%;
    padding: 2% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkfooter {
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
}
.linkfooter:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}
.smm {
    width: 20%;
}
.smm a{
    padding: 0 1%;
}
@media screen and (max-width: 1400px) {
    .mainright{
        display: none;
    }
    .hidden_order {
        display: block;
        margin: 5% 0;
        width: 500px;
        }
    button.order span {
        padding-left: 70%;
    }
}
@media screen and (max-width: 992px) and (min-width: 576px) {
    .cards_container {
        display: flex;
    }
    .cards {
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 5%;
    }
    .aboutus {
        margin-right: 10%;
    }
    .mainleft {
        padding-right: 15%;
    }
    .input {
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 20%;
    margin-left: 15%;
    margin-top: 5%;
    }   
    .button {
    width: 20%;
    margin-left: 15%;
    margin-top: 4%;
    }
    .header_button {
    padding: 8% 18%;
    }
    .logo {
        margin-left: 0;
    }
}
@media screen and (max-width: 576px) {
    :root {
        font-size: 16px;
    }
    .cards {
        flex-direction: column;
    }
    .card {
    width: 25rem!important;
    height: 26rem;
    }
    .nav {
        flex-direction: column;
    }
    .hidden_order {
        width: 420px;
        }
        .mainleft {
            padding-right: 15%;
        }
        button.order span {
            padding-left: 61%;
        }
        .input {
        padding-left: 7%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-right: 20%;
        margin-left: 15%;
        margin-top: 5%;
        width: 70%;
        }   
        .button {
        width: 20%;
        margin-left: 15%;
        margin-top: 4%;
        }
        .header_button {
        padding: 8% 18%;
        }
        .logo {
            margin-left: 0;
        }
}